@charset "UTF-8";
/*头部*/
header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  height: 141px;
  z-index: 99;
}
header .denglu {
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  background-color: #fafafa;
}
header .denglu div p {
  float: left;
}
header .denglu div div {
  float: right;
}
header .denglu div div a {
  color: #6c6c6c;
}
header .denglu div div a:hover {
  text-decoration: none;
}
header .denglu div div span {
  padding: 0 15px;
}
header .head {
  height: 105px;
  position: relative;
}
header .head .logo {
  height: 105px;
  width: 180px;
}
header .head .logo img {
  margin-top: 20px;
  width: 100%;
}
header .head .nav {
  width: 860px;
  line-height: 30px;
  position: absolute;
  top: 55%;
  left: 230px;
  margin-top: -15px;
}
header .head .nav a {
  line-height: 20px;
  float: left;
  cursor: pointer;
  font-size: 18px;
  color: #6c6c6c;
}
header .head .nav a:hover {
  text-decoration: none;
}
header .head .nav span {
  color: #6c6c6c;
  line-height: 20px;
  float: left;
  display: block;
  margin: 0 12px;
  font-size: 20px;
}

/*底部*/
footer {
  background-color: #fff;
  height: 200px;
  /*黑框区域*/
  /*小图*/
}
footer .certificate {
  height: 130px;
  background-color: #3f3e3e;
  padding-top: 27px;
  box-sizing: border-box;
}
footer .certificate p {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #b1b1b1;
}
footer .certificate .p {
  margin: 17px auto;
}
footer .pic {
  height: 70px;
  display: flex;
  justify-content: center;
}
footer .pic a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 16px;
}
footer .pic a img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 10px;
}

/*详情区域*/
.fdj {
  margin: 141px auto 0;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.fdj .fdjleft {
  margin-top: 20px;
  width: 400px;
  height: 600px;
}
.fdj .fdjleft .middlebox {
  width: 400px;
  height: 400px;
  position: relative;
  cursor: move;
}
.fdj .fdjleft .middlebox .middleimg {
  width: 400px;
  height: 400px;
}
.fdj .fdjleft .middlebox .middleimg img {
  width: 400px;
  height: 400px;
}
.fdj .fdjleft .middlebox .middleimg + .shade {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(78, 94, 143, 0.7);
  left: 0;
  top: 0;
  display: none;
}
.fdj .fdjleft .middlebox .middleimg + .shade + .bigbox {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 420px;
  top: 0;
  background-size: 1600px 1600px;
  display: none;
  background-position: 1200px 1200px;
  z-index: 99;
}
.fdj .fdjleft .middlebox + .smallbox {
  width: 400px;
  height: 100px;
}
.fdj .fdjleft .middlebox + .smallbox li {
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
}
.fdj .fdjleft .middlebox + .smallbox li img {
  width: 100%;
  height: 100%;
}
.fdj .fdjleft .middlebox + .smallbox .active {
  border: 3px solid red;
}
.fdj .fdjright {
  width: 489px;
  height: 500px;
  margin-left: 50px;
}
.fdj .fdjright h3 {
  min-height: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #3C3C3C;
  padding-bottom: 20px;
}
.fdj .fdjright h3 + .price {
  width: 480px;
  height: 55px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff2e8;
  display: flex;
  justify-content: space-between;
}
.fdj .fdjright h3 + .price .pleft {
  font-size: 16px;
}
.fdj .fdjright h3 + .price .pleft span {
  margin-left: 30px;
  color: red;
  font-size: 25px;
}
.fdj .fdjright h3 + .price .pleft + .pright {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
.fdj .fdjright h3 + .price .pleft + .pright div {
  font-size: 12px;
  width: 50px;
  text-align: center;
  line-height: 12px;
}
.fdj .fdjright h3 + .price + .bton {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  font-size: 16px;
}
.fdj .fdjright h3 + .price + .bton .buy {
  width: 136px;
  height: 40px;
  background-color: #FFE4D0;
  box-sizing: border-box;
  color: #E5511D;
  border: 1px solid #F0CAB6;
  outline: none;
}
.fdj .fdjright h3 + .price + .bton .buy + .add {
  outline: none;
  width: 182px;
  height: 40px;
  background-color: #FF4400;
  border: 0;
  color: white;
}

/*# sourceMappingURL=xiangqing.css.map */
