@charset "utf-8";
/* CSS Document */
html,body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{
	margin:0;
	padding:0;
	user-select: none;
	}
body,html{
	user-select: none;
	font:14px "微软雅黑",Arial;
	}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:100%;
	}
i,em{
	font-style:normal;
	}	
a{
	text-decoration:none;
	}
li{
	list-style:none;
	}	
input{
	outline:none;
	}
.clearfix{
	*zoom:1}	
.clearfix:after{
	content:" ";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	}
